<!DOCTYPE html>

{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'django_tutorial/css/styles.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://snipp.ru/plugins/treeview/jquery.treeview.css">
</head>
<body>
    <div class="flex-container">
        <div class="header">
            {% block headlinks %}
                <div class="header_in">
	                <div class="search_string">
		                <form class="search_string" action="{% url 'search_results'  %}" method="get">
			                <input type="text" placeholder="Поиск по сайту" name="search_string">
			                <button type="submit"></button>
		                </form>
                	</div>
	                <div class="head_buttons">
		                <div class="buttons"><a href="{% url 'djtut' %}">Учебник Django</a></div>
		                <div class="buttons"><a target="_blank" href="http://127.0.0.1:8000/admin/django_tutorial/article/">Админка</a></div>
	                </div>
                </div>
            {% endblock %}
        </div>
        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
        <div class="footer">
            <p align="center">Это Футер!</p>
        </div>
    </div>
</body>
</html>