{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'django_tutorial/css/styles.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://snipp.ru/plugins/treeview/jquery.treeview.css">
</head>
<body>
{% block headlinks %}
<table>
    <tr>
        <th width="100" ><a href="{% url 'amcrsrs' %}">Главная</a> </th>
        <th width="200"><a href="{% url 'djtut' %}">Учебник Django</a></th>
    </tr>
</table>
{% endblock %}
{% block content %}
{% endblock %}
</body>
</html>