{% extends 'django_tutorial/base.html' %}

{% block content %}
<main class="content">
    <aside class="left_tab">Меню
        <ul id="tree-radio" class="treeview">
	<li>
		<label><input type="radio" name="category" value="6"> Морепродукты</label>
		<ul>
			<li><label><input type="radio" name="category" value="121"> Гребешки</label></li>
			<li><label><input type="radio" name="category" value="10"> Грибы</label>
				<ul>
					<li><label><input type="radio" name="category" value="107"> Белый гриб</label></li>
					<li><label><input type="radio" name="category" value="110"> Маслята</label>
						<ul>
						<li><label><input type="radio" name="category" value="110"> 1</label></li>
						<li><label><input type="radio" name="category" value="110"> 2</label></li>
						<li><label><input type="radio" name="category" value="110"> 3</label></li>
						</ul>
					</li>
				</ul>
			</li>

		</ul>
	</li>
</ul>


<style type="text/css">
.treeview label {
	margin: 0;
	display: inline-block;
	font-size: 20px;
	font-weight: normal;
	line-height: 14px;
	vertical-align: top;
	cursor: pointer;
}
.treeview input {
	margin: 0;
	padding: 0;
	vertical-align: top;
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://snipp.ru/plugins/treeview/jquery.treeview.js"></script>
<script>
$('#tree-radio').treeview({
	collapsed: true,
	animated: 'fast',
	unique: true
});
</script>
    </aside>
    <div class="right_tab">Контент</div>
</main>
{% endblock %}