{% extends 'django_tutorial/base.html' %}
{% load cache %}

{% block content %}
{% cache 120 treelist %}

				<aside class="left_tab">
			<div class="list"><H2>{{ title }}:</H2>
			<ul id="tree-radio" class="treeview">
				{% for element_0 in articles %}
					{% if element_0.parent_name == '0' %}
						<li><label><a href="{% url 'article' element_0.id %}">{{element_0.name}}</a></label>
							<ul>
								{% for element_1 in articles %}
									{% if element_1.parent_name == element_0.name %}
										<li><label><a href="{% url 'article' element_1.id %}">{{element_1.name}}</a></label>
											<ul>
												{% for element_2 in articles %}
													{% if element_2.parent_name == element_1.name %}
														<li><label><a href="{% url 'article' element_2.id %}">
																	{{element_2.name}}</a></label>
															<ul>
																{% for element_3 in articles %}
																	{% if element_3.parent_name == element_2.name %}
																		<li><label><a href="{% url 'article' element_3.id %}">
																			{{element_3.name}}
																		</a></label></li>
																	{% endif%}
																{% endfor %}
															</ul>
														</li>
													{% endif %}
												{% endfor %}
											</ul>
										</li>
									{% endif %}
								{% endfor %}
							</ul>
						</li>
					{%endif%}
				{% endfor %}
			</ul>
{% endcache %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://snipp.ru/plugins/treeview/jquery.treeview.js"></script>
		<script>
			$('#tree-radio').treeview({
				collapsed: true,
				animated: 'fast',
				unique: true
			});
		</script>
		</div>
    </aside>

	<section class="content">
		{%if article_id %}
			<strong><a target="_blank"  href="/admin/django_tutorial/article/{{article_id}}/change/">
			Редактировать страницу
			</a></strong>
		{% endif %}
		<H1>{{ title }}:
		{% for element in articles %}
			{%if element.id == article_id%}
			 {{ element.name }}</H1>
				<p><strong>Ссылки по теме:</strong></p>
				{% autoescape off%}
					{% for link in links %}
						<a target="_blank" href="{{ link }}">{{ link }}</a><br>
					{% endfor %}
				{% endautoescape %}
				<p>{{element.content|linebreaks}}</p>

			{%endif%}
		{%endfor%}
	</section>

	<aside class="right_tab">
		<p>Правый блок</p>
	</aside>

{% endblock %}