html, body {
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #444;
	font-size: 20px;
}

a {
	color: #0059b2;
	text-decoration: none;
}

a:hover {
	color: red;
	text-decoration: underline;
}

.content {
    display: flex;
    justify-content: space-between;
    height: inherit;
}

.left_tab {
    background: #FF4500;
    padding: 15px ;
}

.right_tab {
    background: #7FFFD4;
    flex-grow: 1;
}

