{% load static %}
{% load media %}


html, body {
	font-family: 'Arial';
	font-size: 16px;
	font-family: Roboto,Lucida Grande,DejaVu Sans,Bitstream Vera Sans,Verdana,Arial,sans-serif;
	margin: 0;
    padding: 0;
}

.flex-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

    .header {
        position: fixed;
        justify-content: flex-start;
        width: 100%;
        background: #9bc545;
        align-items: center;
    }

        .header_in {
            display: flex;
            position: relative;
        }

        form {
            display: contents;
            position: relative;
        }

        .search_string {
            display: flex;
            background: #9bc545;
            flex: 3;
            order: 1;
            justify-content: flex-end;
            margin: 0.4%;
        }

        .search_string input {
            flex: 1;
            border: 2px solid #7BA7AB;
            border-radius: 5px 0 0 5px;
            background: #F9F0DA;
            color: #9E9C9C;
        }

        .search_string button {
            border: none;
            background: #7BA7AB;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
        }

        .search_string button:before {
          content: "\f002";
          font-family: FontAwesome;
          font-size: 16px;
          color: #F9F0DA;
        }

        .head_buttons {
            justify-content: flex-start;
            display: flex;
            flex: 6;
            font-size: 18px;
            font-weight: bold;
        }

        .buttons {
            margin: 0.8% 3% 0.8% 3%;
        }


    .main {
        display: flex;
        flex: 1;
        padding: 2% 0 0 0;
    }

        .list {
            position: fixed;
        }

        aside {
            flex: 1;
        }

        section {
            flex: 6;
        }

        .left_tab {
            width: 20%;
            padding: 10px;
            font-size: 6px;
            background: #b3e450;
        }

        .left_tab:hover {
            zoom: 120%;
            font-size:10px;

            flex: 2;
        }

        .treeview label {
            margin: 0;
            display: inline-block;
            font-size: 10px;
            font-weight: normal;
            line-height: 14px;
            vertical-align: top;
            cursor: pointer;
        }

        .content {
            padding: 3%;
            background: #bef486;
        }

        .right_tab {
            width: 10%;
            background: #b3e450;
        }

    .footer {
        width: 100%;
        height: 5%;
        background: green;
        align-items: center;
        justify-content: flex-end
    }

